<!DOCTYPE html>
<html lang="en-US">

 <!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="app.js"></script>
<body>

<div class="container" ng-app="myApp" ng-controller="usersCtrl">
<br>
<h1>User Management: </h1>
<hr>
<div class="row">
   <div class="col-sm-6"><strong>{{(users | filter : filterSearch).length }}</strong> user(s) was Founded</div>
   <div class="col-sm-6 text-right">
   <label class="mr-2">Search: <input type="text" ng-model="filterSearch" /></label>
  </div>
</div>
  <table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody ng-if='displayList'>
    <tr ng-repeat="user in users | filter : filterSearch">
      <th scope="row">{{user.id}}</th>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.phone}}</td>
      <td><input type="button" class="btn btn-danger btn-sm" ng-click="deleteUser(user.id)" value="Delete" /></td>
    </tr>
  </tbody>
  <tbody ng-if='!displayList'>
    <tr>
      <th scope="row">Users list not found</th>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
<hr>
<h2>Add user:</h2>
<form class="myForm" id="addUserForm">
    <label class="mr-2">Name: <input type="text" ng-model="newUser.name" /></label>
    <label class="mr-2">E-mail: <input type="email" ng-model="newUser.email" /></label>
    <label class="mr-2">Phone: <input type="text" ng-model="newUser.phone" /></label>
    <input type="submit" class="btn btn-primary btn-sm" ng-click="addUser()" value="Add" />
    <input type="button" class="btn btn-outline-danger btn-sm" ng-click="reset()" value="Reset" />
  </form>

  <div class="alert alert-danger col-sm-6 fade show" role="alert" ng-if="showMessageAddUser" ng-show="errorMessageAddUser">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <strong>Error!</strong> There was a problem to create new User.
  </div>

  <div class="alert alert-success col-sm-6 fade show" role="alert" ng-if="showMessageAddUser" ng-show="!errorMessageAddUser">
    <strong>Succes!</strong> User successfully created.
  </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

<script src="js/controller.js"></script>
<script src="js/service.js"></script>
</body>
</html> 